<%- include("partials/header"); -%>

<header>
  <a href="/"><h1 title="Home">Todo Point Master <i class="fas fa-gamepad"></i></h1></a><span id="user-id" title="User"><%=userID%></span>
  <h2 class="headline user">[<%=userName%> Todos]</h2>
  <h3 id="points" title="Points earned for each task completed.">Points: <%=points%></h3>

</header>
 <main>
   <form id="add-todo-form" class="outline" action="/todos/addTodo" method="POST">
     <input id="add-todo" type="text" minlength="3" name="newTodo" value="" placeholder="Input New Todo"> Date Due:<input type="date" name="todoDateDue" value=""/>        <input type="submit" id="submit-button" class="btn btn-dark" value="Add Todo" > <input type="text" name="taskId" value="" class="hide">
     <div>
       <input type="radio" id="personal" name="todoTypeInput" value="personal" <%=inputP%>><label for="personal">Personal</label>
       <input type="radio" id="work" name="todoTypeInput" value="work" <%=inputW%>><label for="work">Work</label> <span class="spacer"> | </span> <label>Difficulty: <select class="difficulty" name="difficulty">
         <option value="1" selected>1</option>
         <option value="2">2</option>
         <option value="3">3</option>
       </select></label></div>
   </form>

 <div id="remaining"></div>
 <p>
     <input id="search-text" type="text" name="" value="" placeholder="Filter Todos">
 </p>
 <div>
   <input type="radio" id="allTab" name="todoType" value="all" checked><label for="allTab">All</label>
   <input type="radio" id="personalTab" name="todoType" value="personal"><label for="personalTab">Personal</label>
   <input type="radio" id="workTab" name="todoType" value="work"><label for="workTab">Work</label>
   </div>
 <div class="todos small-text">
   <% todos.forEach(function(todo){%>
  <div class="task<%=todo._id%>">
 <p class="task-item"><span class="difficulty"><%=todo.difficulty%></span><span class="difficultyNum hide"><%=todo.difficulty%></span><span><%=todo.text%></span></p>
 | Added: <span class="dateMade"><%=todo.dateMadeClientView%></span> <span class="hide dateMade"><%=todo.dateMade%></span> | <%= todo.dateDue === "Invalid Date" || todo.dateDue === "" ? "": "Due Date: " + todo.dateDueClientView %><span class="hide dateDue"><%=todo.dateDue%></span><span class="hide"><%=todo.todoType%></span> <button name="task<%=todo._id%>" class="btn btn-outline-secondary btn-sm">edit</button>

 <form class="finish-button" action="/todos/finishTodo" method="POST">
   <input type="text" class="hide" name="taskId" value="<%=todo._id%>" />  <input type="submit" class="btn btn-outline-secondary btn-sm" value="Finished"/>
   </form>

  </div>
     <%});%>
 </div>
 </main>


<%- include("partials/footer"); -%>
